#container{
  /* margin-left: 5%; */
  background-color: yellow;
  width: 500px;
  text-align: center;
  margin: 120px 20px 120px 120px;
}
.column {
    float:left;
    width:20%;
    height: 100px;
    border: black 3px solid;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    margin: 10px 10px 10px 50px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    height: fit-content;
  }

  h1{
    text-align: center;
  }

  #r1c1{
    /* background-image: url("x.png"); */
    background-repeat: no-repeat;
    background-size:100%;
  }
  #r1c2{
    /* background-image: url("x.png"); */
    background-repeat: no-repeat;
    background-size:100%;
  }
  #r1c3{
    /* background-image: url("x.png"); */
    background-repeat: no-repeat;
    background-size:100%;
  }
  #r2c1{
    /* background-image: url("x.png"); */
    background-repeat: no-repeat;
    background-size:100%;
  }
  #r2c2{
    /* background-image: url("x.png"); */
    background-repeat: no-repeat;
    background-size:100%;
  }
  #r2c3{
    /* background-image: url("x.png"); */
    background-repeat: no-repeat;
    background-size:100%;
  }
  #r3c1{
    /* background-image: url("x.png"); */
    background-repeat: no-repeat;
    background-size:100%;
  }
  #r3c2{
    /* background-image: url("x.png"); */
    background-repeat: no-repeat;
    background-size:100%;
  }
  #r3c3{
    /* background-image: url("x.png"); */
    background-repeat: no-repeat;
    background-size:100%;
  }

  .x{
    background-image: url("x.png");
  }
  .o{
    background-image: url("o.png");
  }